body.aileron .ticket-info-repeat-recurrence .titlebox
	.titlebox-title .widget a {
	background-position: center -7px;
}
body.rudder .ticket-info-repeat-recurrence .titlebox
	.titlebox-title .left {
	background-color: #ccc;
	color: #fff;
}
body.rudder .ticket-info-repeat-recurrence .titlebox-title {
	margin-left: 1em
}
body.rudder .ticket-info-repeat-recurrence .titlebox-title
	.left {
	padding-left: 2.25em;
	margin-left: 0;
	padding-bottom: 4px;
	margin-bottom: 8px;
	-webkit-border-top-left-radius: 0.3em;
	-webkit-border-top-right-radius: 0.3em;
	-moz-border-radius-topleft: 0.3em;
	-moz-border-radius-topright: 0.3em;
	border-radius: 0.3em 0.3em 0 0;
}
body.web2 .ticket-info-repeat-recurrence .titlebox
	.titlebox-title .left,
	body.aileron .ticket-info-repeat-recurrence .titlebox
	.titlebox-title .left, body.ballard
	.ticket-info-repeat-recurrence .titlebox .titlebox-title
	.left {
	background-color: #4488CC;
	color: #FFFFFF;
}
