.ticket-info-repeat-recurrence .titlebox.card {
  border-top: 3px solid #B23;
}

.repeat .row .form-check {
  padding-left: 0px;
  margin-bottom: 0px;
}

.repeat .custom-control-label.has-text-input::before,
.repeat .custom-control-label.has-text-input::after {
  top: 0.5rem;
}

.repeat .form-control {
  display: inline-block;
  width: auto;
}

.repeat .bootstrap-select > .dropdown-toggle {
  width: auto;
}

.z-index-auto {
  z-index: auto;
}

.repeat input[type="radio"],
.repeat input[type="checkbox"] {
  vertical-align: text-top;
  margin-top: 1px;
}

.repeat .ts-control {
  width: fit-content !important;
}
